<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title></title>
	</head>
	<script src="js/vue.js" type="text/javascript" charset="utf-8"></script>
	<body>
		<div id="app">
			<input type="text" v-model="firstName" />
			<input type="text" v-model="lastName"/>
			<div>
				{{ getFullName() }}  {{ getFullName() }}  {{ getFullName() }}
			</div>
			<div>
				{{ fullName }}  {{ fullName }}  {{ fullName }}
			</div>
		</div>
		<!-- 
		1、computed是一个计算值，method是一个函数，可以有返回值
		2、computed属于一个属性的调用，method是函数的调用
		3、computed带有缓存功能，当页面渲染时，只要值没有改变，直接会取上一次缓存的值，而函数每一次都会去调用
		
		computed一个数据受多个数据影响
		watch：没有缓存  用于侦听属性，一般用于异步或者开销较大的操作
		-->
		<script type="text/javascript">
			let app = new Vue({
				el:"#app",
				data:{
					firstName:"",
					lastName:""
				},
				methods:{
					getFullName(){
						console.log("methods")   //会输出三次
						return this.firstName + "-" + this.lastName
					}
				},
				computed:{
					fullName(){
						console.log("computed")  //只会输出一次
						return this.firstName + "-" + this.lastName
					}
				},
				watch:{
					firstName:function(newValue,oldValue){
						console.log("watch")
						console.log(this.firstName,newValue,oldValue)
					}
				}
			})
		</script>
	</body>
</html>
